backend/config.json
backend_visualization/config.json
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.vscode
.project
.strong-pm
coverage
node_modules
npm-debug.log

Thumbs.db
Desktop.ini

dist
build
*.zip

