body {
  
}

ul {
  list-style-type: none;
}

.docente {
  border: solid 1px black;
  margin-bottom: 10px;
  padding: 10px;
}

.docente .nome-docente {
  background: #bdd9ff;
}

.domanda {

}

.domanda .testo-domanda {

}

.domande .risposte-domanda {

}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
  background: black;
}
