html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.navbarCollapsed ul {
  list-style-type: none;
  position: fixed;
  text-align: left;
  width: 100%;
  height: 35px;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 2;
  background-color: rgba(0, 0, 0, 1);
}

.navbarCollapsed .dropdown .menu .menu-text {
  margin-left: 35px;
  margin-bottom: 0;
  margin-top: 10px;
  padding-bottom: 3px;
}

.navbarCollapsed .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 200px;
  z-index: 1;
}

.navbarCollapsed .dropdown-content a {
  margin: 0;
  padding: 4px 12px;
  display: block;
  text-decoration: none;
  color: white;
}

.navbarCollapsed .dropdown-content .navbarC-container-link {
  text-align: center;
}

.navbarCollapsed .dropdown {
  display: block;
  margin-left: 2%;
  margin-bottom: 0;
  color: white;
}

.navbarCollapsed .dropdown:hover .dropdown-content {
  display: block;
}

.navbarCollapsed .dropdown-content .navbarC-container-link:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  padding-top: 5%;
  width: 20%;
  background-color: rgb(67, 68, 68);
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 12px;
}
.navbar ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.navbar-container-link .navbar-link {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.navbar-container-link a.active {
  background-color: #4CAF50;
  color: white;
}

.navbar-container-link a:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.missing {
  background: rgba(253, 8, 8, 0.4);
}

.body-page {
  margin-left: 20%;
}

.body-page .body-page-bg {
  background-position: 64% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: white;
}

.header-container {
  height: 100vh;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.header-container .header-text {
  margin-left: 10%;
  margin-right: 10%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: white;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.header-container .header-bottone {
  margin-top: 5%;
}

.header-container .header-bottone button {
  border-radius: 15px;
  border: 3px solid white;
  color: white;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.header-container .header-bottone button:hover {
  border-color: limegreen;
  color: lime;
}

.body-domande {
  background-color: rgba(155, 155, 155, 0.3);
}

.body-domande ul {
  list-style-type: none;
  padding: 5%;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 15px;
  margin-bottom: 0;
}

.body-domande ul .docente {
  font-family: "Source Sans Pro", Arial, sans-serif;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0.25px solid #4a4b4c;
}

.docente .nome-docente {
  text-align: center;
}

.docente h3 {
  padding-left: 1.5%;
}

.container-domanda {
  padding-left: 5%;
  padding-bottom: 15px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.body-domande .body-docenti {
  padding: 5%;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.body-domande .body-generali {
  padding: 5%;
  margin-top: 0;
  padding-top: 0px;
  padding-bottom: 30px;
  margin-bottom: 0;
}

.body-domande .body-docenti .body-domande-docente {
  padding: 2%;
}

.body-domande ol .domande-generali {
  font-family: "Source Sans Pro", Arial, sans-serif;
  border-radius: 25px;
  padding: 20px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.25px solid #4a4b4c;
}

ol h1 {
  text-align: center;
}

.domanda .testo-domanda {
  margin-top: 0;
}

.domanda .risposte-domanda {}

.body-page .bodyBottone {
  background-color: rgba(155, 155, 155, 0.3);
}

.bottone-send {
  padding-top: 40px;
  text-align: center;
}

.bottone-send button {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 5px solid #555555;
  margin-bottom: 40px;
  width: 30%;
  font-size: 16px;
  color: #555555;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.bottone-send button:hover {
  background-color: rgba(11, 168, 30, 0.9);
  border-color: #004c0c;
  color: white;
}

footer {
  position: relative;
  bottom: 0;
  color: #4CAF50;
  background: #5f5f5f;
  height: 100px;
}

footer .footerText {
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}


/* Hamburger*/

#nav-toggle {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 25px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span:before {
  top: -7px;
}

#nav-toggle span:after {
  bottom: -7px;
}

@media (max-width:426px) {
  .body-page-bg .header-container .header-container-text .header-text .noText {
    display: none;
  }
}

@media (max-width:767px) {
  .navbar {
    display: none;
  }
  .navbarCollapsed ul {
    display: inline-block;
  }
  .body-page {
    margin-left: 0%;
  }
  .body-page .body-page-bg {
    background-position: center center;
  }
}

@media (max-width:1025px) {
  .docente h3 {
    padding-left: 0;
  }
  .header-container .header-text {
    margin-left: 3% !important;
    margin-right: 3% !important;
  }
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 35%;
    margin-left: -70px;
    transition: opacity 0.8s;
    opacity: 0;
    font-size: 10px;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555  transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}