extends ../layout
block head 
   link(rel="stylesheet" href="./static/success.css")
block content
   div.body-page(style="background-image: url(./static/images/pi_greco.jpg);")
     div.header-container
       div.header-text
          p.testo1 Test inviato con successo!
          p.testo3 Puoi ritornare nella tua classe, Grazie!
          p.testo3 RICORDA: non chiudere il browser.
