doctype html
html(lang='it')
  head
    title #{title}
    block head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

  body
    block content
      
    block scripts  
