doctype html
html(lang='it')
  head
    title #{title}
    block head
    link(rel="stylesheet" href="./static/main.css")

  body
    block content
      
    footer
      p sito realizzato dai martiri della 5F
    
    block scripts  
    script(src="./static/main.js")
